.info-td{
    display:none;
}
.block-td{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
tr:hover > .block-td{
    display:none;
}
tr:hover > .info-td{
    display:table-cell;
}

.info-div{
    display:none;
}

.block-div{
    text-align:center;
    vertical-align:middle;
    color: #3493ff;
    font-weight: 700;
    opacity: 0.5;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
